.cv-container {
    display: flex;
    justify-content: center;
    height: auto;
    .cv-container-inner {
        width: calc(100% - 12em);
        padding: 4em 6em;
        h2{
            margin-bottom: 2em;
        }
        .cv-education-title{
            margin-top: 1.5em;
            margin-bottom: 1em;
        }
        .cv-work-content-container {
            display: flex;
            gap: 3em;
            .cv-work-tech-stack-container {
                ul{
                    li{
                        display: flex;
                        .cv-work-tech-stack-icon{
                            img{
                                width: 20px;
                                height: auto;
                            }
                        }
                    }
                }
            }
            .cv-work-experiences-container{
                width: 70%;
                .cv-work-experience {
                    margin-bottom: 2em;
                    h3{
                        margin-bottom: .5em;
                    }
                    h4{
                        margin-bottom: .5em;
                    }
                    ul {
                        li {
                            margin-left: 1em;
                        }
                    }
                }
            }
        }
    }
}