.work-item-expanded-content {
    h4 {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }
    .work-item-expanded-content-header {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        margin-bottom: 15px;
        li:first-child {
            list-style: none;
        }
    }
    .work-item-expanded-case-study-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        .work-item-case-study-blob {
            h5 {
                font-size: 18px;
                margin-bottom: 15px;
            }
            .case-study-blob-row {
                display: flex;
                flex-direction: row;
                gap: 15px;
                margin-bottom: 15px;
                p {
                    font-size: 16px;
                    width: fit-content;
                }
                .case-study-blob-image-container {
                    width: 350px;
                    height: auto;
                    img {
                        border-radius: 2em;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }


        }
    }
}