.contact-container {
    display: flex;
    justify-content: center;
    height: auto;
    .contact-container-inner {
        width: calc(100% - 12em);
        padding: 4em 6em;
        @media (max-width: 767px) {
            width: 100%;
            padding: 2em 1.5em;
        }
        h2{
            margin-bottom: 2em;
            @media (max-width: 767px) {
                margin-bottom: 1em;
                font-size: 1.5rem;
            }
        }
        .contact-container-content {
            display: flex;
            gap: 2em;
            @media (max-width: 767px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 1.5em;
            }
            img {
                border-radius: 2em;
                width: 100px;
                height: auto;
                @media (max-width: 767px) {
                    width: 80px;
                }
            }
            .contact-container-inner-left {
                width: 50%;
                @media (max-width: 767px) {
                    width: 100%;
                    text-align: left;
                }
                p{
                    margin-bottom: 1.3em;
                    @media (max-width: 767px) {
                        font-size: 0.9rem;
                    }
                }
                .contact-container-inner-left-links {
                    display: flex;
                    gap: 1em;
                    @media (max-width: 767px) {
                        justify-content: flex-start;
                        gap: 2em;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        gap: 0.5em;
                        text-decoration: none;
                        color: #000000;
                        @media (max-width: 767px) {
                            font-size: 0.9rem;
                        }
                    }
                }
                .contact-container-inner-left-links-icon {
                    width: 20px;
                    height: 20px;
                    img {
                        width: 20px;
                        height: auto;
                        margin-top: 3px;
                        margin-right: -5px;
                    }
                }
            }
            .contact-container-inner-right {
                width: 50%;
                @media (max-width: 767px) {
                    width: 100%;
                }
            }
        }
    }
}