.start-page-container {
    height: 100vh;
    .video-box-container {
        padding: 4em 6em 4em 6em;
		display: flex;
	    justify-content: center;
        #ocean-waves-video {
            position: absolute;
			z-index: -1;
			width: calc(100% - 12em);
			height: calc(100% - 8em);
			border-radius: 2em;
			object-fit: cover;
        }
    }
}