.start-page-container {
    height: 100vh;
    color: #ffffff;
    .video-box-container {
        padding: 4em 6em 4em 6em;
		display: flex;
	    justify-content: center;
        #ocean-waves-video {
            position: absolute;
			z-index: -1;
			width: calc(100% - 12em);
			height: calc(100% - 8em);
			border-radius: 2em;
			object-fit: cover;
            filter: brightness(0.9) contrast(1.1);
        }
        .text-container {
            position: relative;
			width: calc(100% - 12em);
			height: calc(100vh - 8em);
			max-width: 1200px;
            .title {
                width: 100%;
                //font-size: clamp(2rem, 8vw, 8rem);
				font-weight: bolder;
				margin-block-start: 0;
			    margin-block-end: 0;
			    margin-top: 0.8em;
                text-align: center;
            }
            .subtitle {
                font-weight: 400;
                font-size: 40px;
				margin-block-start: 0;
			    margin-block-end: 0;
			    margin-top: 1em;
			    text-align: center;
            }
            .start-page-menu {
                position: absolute;
				width: 100%;
				padding-inline-start: 0;
				margin-left: 0.5em;
				bottom: 0;
                li {
                    list-style-type: none;
					margin-bottom: 0.5em;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
			}
        }
    }
}