.start-page-container {
    height: 100vh;
    color: #ffffff;
    .video-box-container {
        padding: 4em 6em 4em 6em;
		display: flex;
	    justify-content: center;
        @media (max-width: 767px) {
            padding: 0;
        }
        #ocean-waves-video {
            position: absolute;
			z-index: -1;
			width: calc(100% - 12em);
			height: calc(100% - 8em);
			border-radius: 2em;
			object-fit: cover;
            filter: brightness(0.9) contrast(1.1);
            @media (max-width: 767px) {
                width: 100vw; 
                height: 100vh; 
                border-radius: 0; 
            }
        }
        .text-container {
            position: relative;
			width: calc(100% - 12em);
			height: calc(100vh - 8em);
			max-width: 1200px;
            @media (max-width: 767px) {
                width: 100vw; // Full width
                height: 100vh; // Full height
            }
            .title {
                width: 100%;
                //font-size: clamp(2rem, 8vw, 8rem);
				font-weight: bolder;
				margin-block-start: 0;
			    margin-block-end: 0;
			    margin-top: 0.5em;
                text-align: center;
            }
            .subtitle-container {
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                .subtitle {
            
                font-weight: 400;
                //font-size: 40px;
				margin-block-start: 0;
			    margin-block-end: 0;
			    margin-top: 1em;
			    text-align: center;
                }
            }
            .start-page-menu {
                position: absolute;
				width: 15%;
				padding-inline-start: 0;
				margin-left: 0.5em;
				bottom: 0;
                margin-bottom: 3em;
                //font-size: 36px;
                //font-weight: 400;
                @media (max-width: 767px) {
                    width: 80%;
                    text-align: center; 
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                li {
                    list-style-type: none;
					margin-bottom: 0.25em;
                    a {
                        text-decoration: none;
                        color: inherit;
                    }
                }
			}
        }
    }
}