.section {
    .works-container {
      display: flex;
      justify-content: center;
      height: 100%;
      .works-container-inner {
        width: calc(100% - 12em);
        height: calc(100% - 8em);
        padding: 4em 6em 4em 6em;
      }
    }
}
