.section {
    .works-container {
      display: flex;
      justify-content: center;
      height: 100%;
      .works-container-inner {
        width: calc(100% - 12em);
        height: calc(100% - 8em);
        padding: 4em 6em 4em 6em;
        .works-container-content {
          h2 {
            padding: .5em 0 .5em 0;
          }
          .full-time-jobs-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
          }
        }
      }
    }
}
