.section {
    .works-container {
      display: flex;
      justify-content: center;
      height: 100%;
      .works-container-inner {
        width: calc(100% - 12em);
        height: calc(100% - 8em);
        padding: 4em 6em 4em 6em;
        position: relative;
        @media (max-width: 767px) {
          width: 100%;    
          height: auto;
          padding: 2em 1em;
        }
        @media (min-width: 768px) and (max-width: 1080px) {
          width: calc(100% - 4em);
        }
        .works-container-content {
          h2 {
            padding: .5em 0 .5em 0;
          }
          .work-items-container {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            position: relative;
            margin-bottom: 2em;
            @media (max-width: 767px) {
              flex-direction: column;
              align-items: center;
              gap: 1.5em;
            }
          }
        }
      }
    }
}
