.work-item {
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--big {
        width: 350px;
        height: 216px;
    }
    
    &--small {
        width: 175px;
        height: 108px;
    }
}

.work-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.work-item-logo {
    max-width: 80%;
    max-height: 60%;
    object-fit: contain;
}